<!-- <div class="login-container">
    <h2>Login</h2>
    <form (ngSubmit)="onLogin()">
      <div>
        <label for="username">Username:</label>
        <input type="text" id="username" [(ngModel)]="username" name="username" required>
      </div>
      <div>
        <label for="password">Password:</label>
        <input type="password" id="password" [(ngModel)]="password" name="password" required>
      </div>
      <button type="submit">Login</button>
    </form>
  </div> -->
  <div fxLayout="row" >
    <div fxFlex="30" fxLayoutAlign="">
      
      </div>
  </div>
   <mat-card>
    <span class="animate"> PLEASE LOGIN!!! </span>
            <mat-card-title>Login</mat-card-title>
      <mat-card-content>
        <form [formGroup]="form" (ngSubmit)="onLogin()">
          <p>
            <mat-form-field>
              <input type="text" matInput placeholder="Username" formControlName="username">
            </mat-form-field>
          </p>

          <p>
            <mat-form-field>
              <input type="password" matInput placeholder="Password" formControlName="password">
            </mat-form-field>
          </p>

          <p *ngIf="error" class="error">
            {{ error }}
          </p>

          <div class="button">
            <button type="submit" mat-button>Login</button>
          </div>

          <div class="button">
            <button type="submit" [disabled]="logOutdisabled" mat-button (click)="onLogOut('logout')">Logout</button>
          </div>

        </form>
      </mat-card-content>
    </mat-card>
