.parendiv {
 background-color: rgb(173, 151, 151);
 font-family: 'Courier New', Courier, monospace;
 color: #f7e1e1;
 
}
.check {
    text-decoration: none;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    font-weight: bold;
} 