<div class="parent">
    <div class="chil">
        <tr class="row">
            <th>This is the Home Page for Crud UI/UX Application</th>
        </tr>
        <tr>
            <td>Please Login to do the crud operation on employee</td>
        </tr>
    </div>
    <div fxLayout="row">
        <div fxLayout="column" fxLayoutAlign="center">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga rerum enim a asperiores sequi voluptatum, dignissimos accusamus voluptas tenetur vel itaque eligendi maxime explicabo.</p>
        </div>
    </div>
</div>
